<!DOCTYPE html>
<html>
<style>

.header {
	margin: auto;
	width: 80%;
	border:2px "white";
	padding:10px;
}

.center {
	margin: auto;
	width: 60%;
	border:2px solid #8AC007;
	padding: 10px;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}



</style>


<div class="header">
	<!-- menu goes here -->
</div>

<HR>

<div class="center">
	<h1><font size = "8" color = "black"><b>FAQ</font></b></h1> <br>
	<b> What is TasteHome? </b> <br>
	<font size = "3" color="orange">TasteHome</font> is an online marketplace for authentic home meals. We allow you to connect with cooks from your home-town/ home-country and deliver your food to your door. Our mission is to provide the best and authentic home-meal experience for anyone who is away from home. <br><br>

	<b> How does it work? </b> <br>
	Order from selection of our authentic home-meals, pick the delivery time, make payment, and wait for your delicious meal!  <br><br>

	<b>  How are TasteHome Cooks selected </b>  <br>
	All of our cooks must go through our application process. Our cooks hold CA Food Handler's License and have passed our taste test and kitchen inspection (or cook in a certified commercial kitchen). <br>
	*All of our cooks follow food safety standards and recommendations when preparing for meals*  <br><br>

	<b> How do I become a cook at TasteHome? </b> <br>
	<body link="orange">Apply <a href="https://docs.google.com/forms/d/1BIf31w6ddohdm5WsSf2QXH9NaiwsZavXEB5Mos1mi3o/viewform"> here.</body> </a> <br>
	TasteHome team will review your application and email you shortly with the next step.  <br><br>

	<b> Where do you deliver?</b>  <br>
	As of now, we only operate in the Berkeley and San Francisco, but please stay tuned for news on our expansion. <br><br>

	<b> How do I pay? </b> <br>
	You can pay using your credit/debit card.  <br><br>

	<b> Is my payment secured?</b> <br>
	Yes, all our payments are securely processed by <a href="www.stripe.com"> Stripe </a>  <br><br>

	<b> Can I change/cancel my order?</b> <br>
	Because our cooks prepare a pre-ordered amount of food, you can change or cancel your order only <font size = "3" color="orange"> BEFORE </font> our pre-order hour closes.  <br><br>

	<b> Contact Us </b> <br>
	If you have any questions, please email us at <font size = "3" color="orange">contact@buildub.com </font> =) <br><br>
</div>
</html>


<!-- Point and click FAQ code using JavaScript -->
<!-- <div id="faq">


<p><h2 class="underlined" style="display: block;">
	FAQ
</h2></p>

<font size = "4">
		<script type="text/javascript"> 
			function toggle(obj) { 
			var obj=document.getElementById(obj); 
			if (obj.style.display == "block") obj.style.display = "none"; 
			else obj.style.display = "block"; 
			} 
		</script>

        <div class="row">

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q1')">What is TasteHome?</a>
			<div id="q1" style="display:none;">TasteHome is an online marketplace for authentic home meals. We allow you to connect with cooks from your home-town/ home-country and deliver your food to your door. Our mission is to provide the best and authentic home-meal experience for anyone who is away from home.</div>
          </div></p>

          <div class="faq-question-group"><p>            
			<a href="javascript: void(0);" onClick="toggle('q2')">How does it work?</a>
			<div id="q2" style="display:none;">Order from selection of our authentic home-meals, pick the delivery time, make payment, and wait for your delicious meal!</div>
          </div></p>

          <div class="faq-question-group">
			<a href="javascript: void(0);" onClick="toggle('q3')">How are TasteHome Cooks selected</a>
			<div id="q3" style="display:none;">All of our cooks must go through our application process. Our cooks hold CA Food Handler's License and have passed our taste test and kitchen inspection (or cook in a certified commercial kitchen)</div>
          </div>

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q4')">How do I become a cook at TasteHome?</a>
			<div id="q4" style="display:none;">You pay online using your credit or debit card. We use a secure provider and your information is always safe.</div>
          </div></p>

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q5')">Where do you deliver?</a>
			<div id="q5" style="display:none;">As of now, we only operate in the <b> Berkeley area </b> (SF coming soon), but please stay tuned for our expansion news.</div>
          </div></p>

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q6')">How do I pay?</a>
			<div id="q6" style="display:none;">You can pay using your credit/debit card.</div>
          </div></p>

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q7')">Is my payment secured?</a>
			<div id="q7" style="display:none;">Yes, all our payments are securely processed by <a href="www.stripe.com"> Stripe </a></div>
          </div></p>

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q8')">Can I change/cancel my order?</a>
			<div id="q8" style="display:none;">Because our cooks prepare a pre-ordered amount of food, you can change or cancel your order only <b> BEFORE </b> our pre-order hour closes.</div>
          </div></p>

          <div class="faq-question-group"><p>
			<a href="javascript: void(0);" onClick="toggle('q9')">Contact Us</a>
			<div id="q9" style="display:none;">If you have any questions, please email us at <b> contact@buildub.com  =)</div>
          </div></p>

        </div>

</font>

</div> -->
