
<div style="text-align: center; color: darkgrey">Thank you for subscribing to our mailing list</div><br />
You have been successfully added to our mailing list! <br />

We’ll keep you up-to-date with our service and daily menus. <br />
You can also view our daily menu and order with us at <a href="www.tastehome.co" style="color:#F2724C; text-decoration: none">TasteHome</a>.<br />

Please LIKE & FOLLOW our pages.<br />
<%= link_to "Facebook", "https://www.facebook.com/pages/TasteHome/830473117007533" %> <br/>
<%= link_to "Twitter", "https://twitter.com/hellotastehome" %><br/>
<%= link_to "Instagram", "https://instagram.com/hellotastehome" %>
	