<div id="thanks">
<span id="landing1" style="color: darkgrey; margin: 2em">Thank You</span><br>
Your order is complete! <br>
We have sent you a confirmation email :)<br>
Please reach us at contact@buildub.com if you have any questions.<br>


<%= link_to("Back to Home", root_path, :style => "text-decoration:none; color: #F2724C; margin: 1em")%>
</div>
