<span style="margin:1em"><h1>Oops! You have reached an invalid page. Please try again.</h1></span><br />

<%= link_to("Back to Home", root_path, :style => "text-decoration:none; color: #F2724C; margin: 1em")%>