<html>
  <body>
	<div style="height:100%, width:100%, background-color: darkgrey">
	<div style="margin: 1em; background-color: white">  
    <%= yield %>
	
	<p style="color: #F2724C; font-weight: bold">TasteHome Team</p>
	<a href="mailto:contact@buildub.com">contact@buildub.com</a><br />
	<a href="http://www.tastehome.co">www.tastehome.co</a><br />
</div>
</div>
  </body>
</html>
